<!DOCTYPE html>
<html>

  <body>

    <div id="wrapper">

        <div class="container" id="aboutBox">

        Created by Becky Bolton, Web Development Immersive 21 student at General Assembly, London.

        I am not responsible for any feelings of disappointment, crushing ennui or general disillusionment you may be experiencing as a result of this website.

        </div>

    </div>

  </body>
</html>