<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="header">

Crappy Motivational Quotes

    <ul class="navbar">

        <li class="active"><a href="/">Home</a></li>

        <li><a href="/about">About</a></li>

    </ul>

</div>
