<!DOCTYPE html>
<html>

  <body>

    <div id="wrapper">

        <div class="container" id="theQuotesBox">

        </div>

      <div id="newQuote">I need more motivation.</div>

    </div>

  </body>

</html>